<div class="doc-panel">
  <div class="panel-body">

    <div class="row">
      <div class="col-md-8">
        <h2><%= link_to doc.title, doc%></h2>
      </div>
      <div class="col-md-4">
        <div class="date-and-user-info">
          <div class="small faded">
            <%= t('updated at') + " " + l(doc.updated_at, format: :short) %>
          </div>
          <% if doc.user %>
            <%= link_to docs_path(author: doc.user) do %>
              <%= image_tag doc.user.avatar, class: "doc-preview-user-avatar", alt: "user-avatar" %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

    <p>
      <%= doc.description%>
    </p>

    <% doc.tags.each do |t| %>
      <%= link_to docs_path(tag: t.id) do %>
        <div class="small-tag">
          <%= t %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
