<%= form_for(@doc) do |f| %>
  <% if @doc.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@doc.errors.count, "error") %> prohibited this doc from being saved:</h2>

      <ul>
      <% @doc.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <br>

  <%= f.label :title %><br>
  <%= f.text_field :title %><br>

  <%= f.label :description %><br>
  <%= f.text_area :description, class: "description_area" %><br>

  <%= f.label :implementation %><br>
  <%= f.text_area :implementation, class: "implementation_area" %><br>

  <%= @doc.tag_list %>
  <%= f.label :tags %><br>
  <%= f.text_field :tag_list, value: @doc.tag_list.to_s%>

  <div class="actions">
    <%= f.submit t('submit doc')%>
  </div>
<% end %>
