<% content_for :head do %>
  <%= javascript_include_tag 'editor' %>
<% end %>

<%= form_for(@doc) do |f| %>

  <div class="form-group">

    <% if @doc.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@doc.errors.count, "error") %> prohibited this doc from being saved:</h2>

        <ul>
        <% @doc.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <br>

    <%= f.label :title %><br>
    <%= f.text_field :title, class: "form-control" %><br>

    <br>

    <%= f.label :description %><br>
    <%= f.text_area :description, class: "form-control description_area" %><br>

    <br>

    <%= f.label :implementation %><br>
    <%= f.text_area :implementation, class: "implementation_area" %><br>
    <div class="ace-container">
      <div id="editor">
      </div>
    </div>

    <br>

    <%= f.label :related_links %><br>
    <div id="related_links">
      <%= f.fields_for :related_links do |related_link| %>
        <%= render 'related_link_fields', f: related_link %>
      <% end %>

      <div class="links">
        <%= link_to_add_association t(:add_link), f, :related_links %>
      </div>
    </div>

    <br>

    <%= f.label :tags %><br>
    <%= f.text_field :tag_list, value: @doc.tag_list.to_s, class: "tag_list form-control"%>

    <br>

    <div class="actions">
      <%= f.submit t('submit doc'), class: "btn btn-primary"%>
    </div>

  </div>
<% end %>

<script>
  <% if logged_in? %>
    token = "<%= current_user.token %>"
  <% else %>
    token = undefined
  <% end %>
</script>
