<p id="notice"><%= notice %></p>

<%= render "doc_search_form" %>

<% unless @docs.empty? %>
  <%= render @docs %>
<% else %>
  <%= t('no docs')%>
<% end %>

<p>
  <%= @docs.count %> document(s) match the current search.
</p>

<%= render "shared/tag_list" %>
