<p id="notice"><%= notice %></p>

<h1>Docs</h1>

<%= render "utils/menu"%>
<br>
<br>

<% unless @docs.empty? %>
  <% @docs.each do |doc| %>
    <h2><%= link_to doc.title, doc%></h2>
    <div class="small faded">
      <%= t('updated at') + " " + l(doc.updated_at, format: :short) %>
    </div>
    <p>
      <%= doc.description%>
    </p>
    <hr>
  <% end %>
<% else %>
  <%= t('no docs')%>
<% end %>
