<p id="notice"><%= notice %></p>

<%= render "doc_search_form" %>

<% if @author %>
  <p>
    <%= t('docs written by') %>: <strong><%= @author.name %></strong>
  </p>
<% end %>

<% unless @docs.empty? %>
  <%= render @docs %>
<% else %>
  <%= t('no docs')%>
<% end %>

<p>
  <%= @docs.count %> document(s) match the current search.
</p>

<%= render "shared/tag_list" %>
