<p id="notice"><%= notice %></p>

<h1>Docs</h1>

<%= link_to t('all docs'), docs_path %>
<%= link_to t('your docs'), docs_path %>
<%= link_to t('new doc'), new_doc_path %>

<br>
<br>

<% unless @docs.empty? %>
  <% @docs.each do |doc| %>
    <h2><%= link_to doc.title, doc%></h2>
    <div class="small_info">
      <%= doc.updated_at %>
    </div>
    <p>
      <%= doc.description%>
    </p>
  <% end %>
<% else %>
  <%= t('no docs')%>
<% end %>
