<p id="notice"><%= notice %></p>

<%= render "utils/menu"%>
<h1> <%= @doc.title %> </h1>
<div class="faded">
  <%= t('created at') + " " + l(@doc.created_at, format: :short) %>
  ,
  <%= t('updated at') + " " + l(@doc.updated_at, format: :short) %>
</div>
<p>
  <%= @doc.description %>
</p>

<hr>

<p>
  <%= markdown @doc.implementation %>
</p>

<hr>

<%= link_to t('edit doc'), edit_doc_path(@doc) %>
