<p id="notice"><%= notice %></p>

<div class="doc">
  <div class="row">
    <div class="col-md-11">
      <h1> <%= @doc.title %> </h1>
    </div>
    <div class="col-md-1">
      <%= link_to docs_path(author: @doc.user) do %>
        <%= image_tag @doc.user.avatar, class: 'doc-show-avatar' %>
      <% end %>
    </div>
  </div>

  <% if current_user == @doc.user %>
    <div class="action-row">
      <%= link_to icon("edit") + " " + t('edit doc'), edit_doc_path(@doc), class: "btn btn-default" %>
      <%= link_to icon("trash-o") + " " + t('delete doc'), @doc, method: :delete, class: "btn btn-default", data: {confirm: "Are you sure?"} %>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-6">

      <% if @doc.users.present? %>
        <%= icon('heart') %> by
        <% @doc.last_likes(10).each do |user| %>
          <%= image_tag user.avatar, class: "liked-avatar" %>
        <% end %>

        <% if @doc.other_likes(10) > 0 %>
          and <%= @doc.other_likes %> others
        <% end %>
      <% else %>
        <div class="no-likes">
          <%= t('no likes yet') %>
        </div>
      <% end %>

    </div>

    <div class="col-md-6 doc-created-and-updated">
      <%= t('created at') + " " + l(@doc.created_at, format: :short) %>
      ,
      <%= t('updated at') + " " + l(@doc.updated_at, format: :short) %>
    </div>
  </div>

  <p>
    <%= @doc.description %>
  </p>

  <strong>Tags</strong>
  <p>
    <% if @doc.tags.present? %>
      <%= render partial: "docs/tag", collection: @doc.tags  %>
    <% else %>
      <%= t('no_tags') %>
    <% end %>
  </p>

  <hr>

  <p>
    <%= markdown @doc.implementation %>
  </p>

  <hr>

  <strong>Useful Links</strong>
  <p>
    <% if @doc.related_links.present? %>
      <% @doc.related_links.each do |link| %>
        <li>
          <%= link_to link.title, link.link %>
        </li>
      <% end %>
    <% else %>
     <%= t('no_links') %>
    <% end %>
  </p>

  <h3><%= t('feedback') %></h3>

  <% if logged_in? %>

    <% if current_user.liked?(@doc) %>
      <button type="button" name="like-button" class="btn-like disabled">
        <%= t('already liked') %> <i class="fa fa-heart"></i>
      </button>
      <%= t('doesnt like it anymore') %>
      <%= link_to t('remove like'), dislike_path(doc: @doc), method: :delete%>
    <% else %>

      <div class="like-container">
        <%= link_to like_path(doc: @doc), method: :post do %>
          <button type="button" name="like-button" class="btn-like">
            <%=  t('this was useful') %> <i class="fa fa-heart"></i>
          </button>
        <% end %>
      </div>

    <% end %>

  <% else %>

    <button type="button" name="like-button" class="btn-like disabled">
      <%=  t('this was useful') %> <i class="fa fa-heart"></i>
    </button>

    <%= link_to t('login for feedback'), login_path %>
  <% end %>
</div>
