<!DOCTYPE html>
<html>
<head>
  <title>That's The Way you Do It</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css'>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">

    <div class="row">

      <div class="col-md-4 up-menu">
        <%= render "utils/menu" %>
      </div>

      <div class="col-md-4">
        <%= image_tag "logo.png", class: "img-responsive logo", alt: "logo" %>
      </div>

      <div class="col-md-4 up-menu">
        <div class="pull-right">
          <% if logged_in? %>
            <%= current_user.name %>
            <%= link_to 'Log Out', logout_path %>
          <% else %>
            <%= link_to 'Log In with Github', login_path %>
          <% end %>
        </div>
      </div>

    </div>

    <%= yield %>

    <hr>

    Found a bug or has some feedback? <br>

    Please send me an e-mail at: igormarquessilva @ gmail.com <br>

    Or create an issue at the repo: <br>

    https://github.com/IgorMarques/that-s-the-way-you-do-it <br>

    Thanks for testing the app :)

  </div>

</body>
</html>
