<!DOCTYPE html>
<html>
<head>
  <title>That's The Way you Do It</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if logged_in? %>
  <%= current_user.name %>
  <%= link_to 'Log Out', logout_path %>
<% else %>
  <%= link_to 'Log In with Github', login_path %>
<% end %>

<%= yield %>

<hr>

Found a bug or has some feedback? <br>

Please send me an e-mail at: igormarquessilva @ gmail.com <br>

Or create an issue at the repo: <br>

https://github.com/IgorMarques/that-s-the-way-you-do-it <br>

Thanks for testing the app :)

</body>
</html>
